<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>DR Music Records</title>
</head>

<body>
  <h1>Hello</h1>
  <div id="app">
    <button id="GetAllRecordsBtn" v-on:click="GetAll()" class="btn btn-primary">Get all</button>
    <ul id="GetAllUL">
      <li v-for="record in musicRecords">
        {{ record.artist }} - {{record.title}}<br>
        Duration: {{record.durationInSeconds }},
        Publication year: {{ record.yearOfPublication}},
        Platinum certified: {{ record.isCertifiedPlatinum}}
      </li>
    </ul>
    <br>
    <section>
      <input type="search" v-model="searchInput" id="searchInput" placeholder="Search...">
      <select v-model="searchOption" id="searchOption">
        <option value="Title" selected>Title</option>
        <option value="Artist">Artist</option>
        <option value="DurationInSeconds">Duration (seconds)</option>
      </select>
      <button class="btn btn-primary" id="searchBtn" @click="SearchRecords()">Search</button>
    </section>
  </div>

  <script src="bundle.js"></script>
</body>

</html>